In [3]:
#loading data set from my computer
df = pd.read_csv(r"C:\Users\LILLY\Downloads\archive\ebay_womens_perfume.csv")

In [5]:
import pandas as pd

# Checking the first few rows
print(df.head())

# Getting a summary info
print(df.info())

# Checking missing values
print(df.isnull().sum())

              brand                                              title  \
0  Carolina Herrera  Good Girl by Carolina Herrera 2.7 oz Eau De Pa...
1          As Shown  Parfums de Marly Delina La Rosee Eau de Parfum...
2             PRADA  PRADA Paradoxe by Prada EDP 3.0oz/90ml Spray P...
3           As Show  J'adore Parfum D'eau by Christian 3.4 oz EDP F...
4           Khadlaj  Shiyaaka for Men EDP Spray 100ML (3.4 FL.OZ) B...

            type  price priceWithCurrency  available  \
0  Eau de Parfum  43.99      US $43.99/ea        2.0
1  Eau de Parfum  79.99         US $79.99        5.0
2  Eau de Parfum  59.99         US $59.99       10.0
3  Eau de Parfum  59.99      US $59.99/ea       10.0
4  Eau de Parfum  29.99      US $29.99/ea       10.0

                      availableText   sold                lastUpdated  \
0            2 available / 393 sold  393.0  May 23, 2024 10:43:50 PDT
1             5 available / 40 sold   40.0  May 24, 2024 00:15:48 PDT
2  More than 10 available / 35 sold   35.0  May 14, 2024 20:54:25 PDT
3   More than 10 available / 9 sold    9.0  May 23, 2024 01:23:05 PDT
4            More than 10 available    NaN                        NaN

                              itemLocation
0      Thomasville, Alabama, United States
1                    New Jersey, Hong Kong
2        Orange, New Jersey, United States
3               USA, New Jersey, Hong Kong
4  Little Ferry, New Jersey, United States
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   brand              999 non-null    object
 1   title              1000 non-null   object
 2   type               998 non-null    object
 3   price              1000 non-null   float64
 4   priceWithCurrency  1000 non-null   object
 5   available          869 non-null    float64
 6   availableText      992 non-null    object
 7   sold               984 non-null    float64
 8   lastUpdated        927 non-null    object
 9   itemLocation       1000 non-null   object
dtypes: float64(3), object(7)
memory usage: 78.3+ KB
None
brand                  1
title                  0
type                   2
price                  0
priceWithCurrency      0
available            131
availableText          8
sold                  16
lastUpdated           73
itemLocation           0
dtype: int64

In [9]:
print(df.columns)

Index(['brand', 'title', 'type', 'price', 'priceWithCurrency', 'available',
       'availableText', 'sold', 'lastUpdated', 'itemLocation'],
      dtype='object')

In [11]:
# Droping rows with missing values in critical columns
df = df.dropna(subset=['brand', 'price', 'sold'])

In [13]:
print(df.duplicated().sum())  # Counting duplicate rows
df = df.drop_duplicates()  # Removing duplicates

1

In [15]:
df['price'] = pd.to_numeric(df['price'], errors='coerce')

In [17]:
print(df['price'].describe())

count    983.000000
mean      39.868891
std       28.984137
min        1.990000
25%       20.750000
50%       32.990000
75%       49.990000
max      299.990000
Name: price, dtype: float64

In [19]:
df = df.drop_duplicates()

In [21]:
print(df.duplicated().sum())

0

In [23]:
# Checking the first few values in 'price' to see if it contains any symbols or non-numeric characters
print(df['price'].head())

# Removing non-numeric characters and converting to float
df['price'] = df['price'].replace('[^\d.]', '', regex=True).astype(float)

print(df['price'].dtype)  
print(df['price'].head())  # cleaned values

0    43.99
1    79.99
2    59.99
3    59.99
5    51.99
Name: price, dtype: float64
float64
0    43.99
1    79.99
2    59.99
3    59.99
5    51.99
Name: price, dtype: float64

<>:5: SyntaxWarning: invalid escape sequence '\d'
<>:5: SyntaxWarning: invalid escape sequence '\d'
C:\Users\LILLY\AppData\Local\Temp\ipykernel_16496\2066162369.py:5: SyntaxWarning: invalid escape sequence '\d'
  df['price'] = df['price'].replace('[^\d.]', '', regex=True).astype(float)

In [25]:
# error fix
# Checking first few values in 'sold' to understand format
print(df['sold'].head())

# Removing non-numeric characters and converting to integer
df['sold'] = df['sold'].str.replace(r'[^\d]', '', regex=True).astype(int)

print(df['sold'].dtype)  
print(df['sold'].head())  # cleaned values

0    393.0
1     40.0
2     35.0
3      9.0
5    184.0
Name: sold, dtype: float64

AttributeError: Can only use .str accessor with string values!

In [27]:
# error fix
# Converting 'sold' to integer
df['sold'] = df['sold'].astype(int)


print(df['sold'].dtype) 
print(df['sold'].head())  # cleaned values

int32
0    393
1     40
2     35
3      9
5    184
Name: sold, dtype: int32

In [29]:
print(df.isnull().sum())

brand                  0
title                  0
type                   1
price                  0
priceWithCurrency      0
available            122
availableText          0
sold                   0
lastUpdated           58
itemLocation           0
dtype: int64

In [31]:
df['type'] = df['type'].fillna('Unknown')

In [33]:
df['available'] = df['available'].fillna(0)

In [35]:
df['lastUpdated'] = df['lastUpdated'].fillna('Unknown')

In [37]:
df['lastUpdated'] = pd.to_datetime(df['lastUpdated'])
df['lastUpdated'] = df['lastUpdated'].fillna(df['lastUpdated'].max())

C:\Users\LILLY\AppData\Local\Temp\ipykernel_16496\4022210124.py:1: FutureWarning: Parsed string "May 23, 2024 10:43:50 PDT" included an un-recognized timezone "PDT". Dropping unrecognized timezones is deprecated; in a future version this will raise. Instead pass the string without the timezone, then use .tz_localize to convert to a recognized timezone.
  df['lastUpdated'] = pd.to_datetime(df['lastUpdated'])

ValueError: time data "Apr 05, 2024 00:52:19 PDT" doesn't match format "%B %d, %Y %H:%M:%S PDT", at position 18. You might want to try:
    - passing `format` if your strings have a consistent format;
    - passing `format='ISO8601'` if your strings are all ISO8601 but not necessarily in exactly the same format;
    - passing `format='mixed'`, and the format will be inferred for each element individually. You might want to use `dayfirst` alongside this.

In [49]:
# error fix
# Removing all timezone abbreviations 
df['lastUpdated'] = df['lastUpdated'].str.replace(r' [A-Z]{3,4}$', '', regex=True)

# Converting to datetime
df['lastUpdated'] = pd.to_datetime(df['lastUpdated'], format='mixed', errors='coerce')

# Filling missing values with the most recent date
df['lastUpdated'] = df['lastUpdated'].fillna(df['lastUpdated'].max())

AttributeError: Can only use .str accessor with string values!

In [51]:
# error fix
# Ensuring the column is a string before replacing
df['lastUpdated'] = df['lastUpdated'].astype(str)

# Removing timezone abbreviations (e.g., PDT, GMT)
df['lastUpdated'] = df['lastUpdated'].str.replace(r' [A-Z]{3,4}$', '', regex=True)

# Converting to datetime with automatic format inference
df['lastUpdated'] = pd.to_datetime(df['lastUpdated'], errors='coerce')

# Fill missing values with the most recent date
df['lastUpdated'] = df['lastUpdated'].fillna(df['lastUpdated'].max())

In [53]:
df['lastUpdated'].head()  
df.info()  
df.isna().sum()  # Verify if there are any missing values

<class 'pandas.core.frame.DataFrame'>
Index: 983 entries, 0 to 999
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   brand              983 non-null    object
 1   title              983 non-null    object
 2   type               983 non-null    object
 3   price              983 non-null    float64
 4   priceWithCurrency  983 non-null    object
 5   available          983 non-null    float64
 6   availableText      983 non-null    object
 7   sold               983 non-null    int32
 8   lastUpdated        983 non-null    datetime64[ns]
 9   itemLocation       983 non-null    object
dtypes: datetime64[ns](1), float64(2), int32(1), object(6)
memory usage: 80.6+ KB

brand                0
title                0
type                 0
price                0
priceWithCurrency    0
available            0
availableText        0
sold                 0
lastUpdated          0
itemLocation         0
dtype: int64

In [57]:
# Saving my cleaned data

df.to_csv('cleaned_data.csv', index=False)

# Saved csv loaded to Tableau for visualization

In [3]:
#configuring to my github
!git config --global user.email "akeyoowiti@outlook.com"
!git config --global user.name "Lilly Owiti"

In [7]:
import os
os.getcwd()

'C:\\Users\\LILLY'